<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Huertos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow-lg mb-4 bg-secondary rounded-bottom">
            <div class="container">
                <a class="navbar-brand text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-pagelines"></i>HUERTOS AUTOSUSTENTABLES</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> &nbsp;Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Mision"><i class="fas fa-bullseye-arrow"></i> &nbsp;Mision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Vision"><i class="fas fa-eye"></i> &nbsp;Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Recomendaciones"><i class="fas fa-list-alt"></i> &nbsp;Recomendaciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br/>
    <footer class=" footer text-muted bg-secondary text-center">
        <div class="d-sm-inline-flex text-white p-2">
            <a class="nav-link text-white">&copy; 2020 - Huertos Autosustentables &nbsp;</a>
            <a class="nav-link text-white" asp-controller="Home">&nbsp;Galapagos</a>
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">&nbsp;Costa</a>
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">&nbsp;Sierra</a>
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">&nbsp;Amazonia</a>&nbsp;&nbsp;&nbsp;
            <div class="btn-outline-primary rounded ">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/LoginAdmin"><i class="fas fa-user-shield"></i> &nbsp;Administrador</a>
            </div>
        </div>
      
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
