<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tablas</title>

    <link rel="stylesheet" href="~/GeneralCss/detalleAma.css">
</head>
<body>


    <div class="image span">
        <h3>Bienvenido a conocer como cultivar correctamente</h3>
        <br>

        <img class="filter" src="~/Usuario_imagen/descarga (3).jpg" alt="Profile 1">
    </div>


    <div class="container">
        <h3>Contenido</h3>
        <table class="table">

            <thead>
                <tr>
                    <th WIDTH="10" HEIGHT="50">Item</th>
                    <th WIDTH="100" HEIGHT="50">Precio</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td HEIGHT="50" data-label="Consola">Tipo de Cultivo</td>
                    <td HEIGHT="50" d data-label="Precio">Frutillas </td>

                </tr>
                <tr>
                    <td HEIGHT="50" data-label="Consola">Precio de  semillas </td>
                    <td HEIGHT="70" d data-label="Precio">Una de las mejores   formas de conseguir las semillas es germinandoles </td>

                </tr>
                <tr>
                    <td HEIGHT="50" data-label="Consola">Lugar  en el que va ha cultivar</td>
                    <td HEIGHT="70" data-label="Precio">En cual quier tipo de recipiente</td>

                </tr>
                <tr>
                    <td HEIGHT="50" data-label="Consola">Introduccion</td>
                    <td HEIGHT="200" data-label="Precio">
                        La idea de reciclar botellas y usarlas como macetas es muy práctica. Además se aprovecha el espacio vertical para plantar, sobre todo aromáticas y hojas.
                        tema del riego en este caso debemos fijarnos muy bien en que quede bien húmedo todo el sustrato , el primer riego es de lo mas importante que nos ayuda a asentar todo y a dejarlo bien húmedo, tenemos la opción también de regarlo por abajo, dejando la botella de plástico sobre un plato con agua o incluso dejándolo con agua en el fregadero. Para lo demás el riego seria como su cultivo en cualquier otro sistema, mantener el sustrato húmedo y teniendo cuidado con las plagas y enfermedades mas comunes de las fresas.
                    </td>

                </tr>
                <tr>
                    <td HEIGHT="50" data-label="Consola">Cuerpo</td>
                    <td HEIGHT="70" data-label="Precio">
                        Si no tienes donde colgarlas pues las puedes poner en el suelo como si fueran macetas, un plato de plástico también servirá para evitar mojar el suelo.
                        Si en donde las tienes da el sol, debemos proteger las raíces ya sea cubriendo la botella con malla negra o pintándola de negro con rotulador o pintura.

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>