@model Prototipos_Huertos_Autosustentables.Models.Cultivo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cultivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCultivo" />
            <div class="form-group">
                <label asp-for="IdTipoCultivos" class="control-label"></label>
                <input asp-for="IdTipoCultivos" class="form-control" />
                <span asp-validation-for="IdTipoCultivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRegiones" class="control-label"></label>
                <input asp-for="IdRegiones" class="form-control" />
                <span asp-validation-for="IdRegiones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCultivos" class="control-label"></label>
                <input asp-for="NombreCultivos" class="form-control" />
                <span asp-validation-for="NombreCultivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntroduccionCultivos" class="control-label"></label>
                <input asp-for="IntroduccionCultivos" class="form-control" />
                <span asp-validation-for="IntroduccionCultivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuerpoCultivos" class="control-label"></label>
                <input asp-for="CuerpoCultivos" class="form-control" />
                <span asp-validation-for="CuerpoCultivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recomendaciones" class="control-label"></label>
                <input asp-for="Recomendaciones" class="form-control" />
                <span asp-validation-for="Recomendaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
