@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Correo enviado exitosamente";
}
    <div class="w-50 mx-auto rounded shadow-lg p-3 mb-5 rounded bg-light">
        <div w-75 mx-auto>
            <h3>@ViewData["Title"] &nbsp;<i class="fas fa-check-circle"></i></h3>
            <p>
                Por favor revise su correo electrónico para restablecer su contraseña.
            </p>
        </div>
    </div>

