@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
}

    <div class="w-50 mx-auto rounded shadow-lg p-3 mb-5 rounded bg-light">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <p>Por faavor,ingrese su correo electrónico para restablecer su contraseña</p>
        <div class="w-75 mx-auto">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email"><i class="fas fa-envelope-square"></i> &nbsp;Correo Electrónico:</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-outline-primary">Enviar</button>
            </form>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
