@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <h2>Te damos una cordial bienvenida</h2>
        <img src="~/img/img.jpg" alt="Imagen no encontrada" />
        <p class="text-justify">
            Cultiva los alimentso que desees con nuestra ayuda a mismo momento de cuidar de tu bosillo
            y tu salud para prevenir mas contagios.
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta.</a>
        </p>
    }
    else
    {
        <p>
            Por favor revise su correo electrónico para confirmar su cuenta.
        </p>
    }
}
